extends ../../layout/default
include ../../mixins/alert-success.pug
include ../../mixins/select-tree

block main 
    h1(class="mb-4") #{title}

    +alert-error(5000)

    form(
        action=`${prefixAdmin}/products/create`
        id="form-creat-product" 
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                
            )
        div(class="form-group")
            label(for="title") Danh mục
            select(
                name="product_category_id"
                id="product_category_id"
                class="form-control"
            ) 
                option(value="") ---Chọn danh mục--- 
                if(category)
                    +select-tree(category)
        div(class="form-group")
            label(for="desc") Mô tả
            textarea#description.form-control(
                name="description"
                rows="10"
            )
        div(class="form-group")
            label(for="price") Giá
            input(
                type="number"
                class="form-control"
                id="price"
                name="price"
                value="0"
                min="0"
            )
        div(class="form-group")
            label(for="discount") % Giảm giá
            input(
                type="number"
                class="form-control"
                id="discount"
                name="discountPercentage"
                value="0"
                min="0"
            )
        div(class="form-group")
            label(for="stock") Số lượng
            input(
                type="number"
                class="form-control"
                id="stock"
                name="stock"
                value="0"
                min="0"
            )
        div(
            class="form-group"
            upload-image
            )
            label(for="thumbnail") Ảnh
            input(
                type="file"
                class="form-control"
                id="thumbnail"
                name="thumbnail"
                accept ="image/*"
                upload-image-input
            )
            img(
                src= ""
                alt= ""
                width="120"
                class="rounded border mt-2" 
                upload-img-preview
            ) 
            span(
                delete-image-preview
                class="delete-image-preview btn btn-sm btn-danger ms-2"
            ) X
        div(class="form-group mb-3")
            label(for="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                min="1"
                placeholder="Tự động tăng"
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statuscActive"
                name="status"
                value="active"
                checked
            )
            label(for="statuscActive" class="form-check-label") Còn hàng
        div(class="form-group form-check form-check-inline mb-4")
            input(
                type="radio"
                class="form-check-input"
                id="statuscUnactive"
                name="status"
                value="unactive"
                checked
            )
            label(for="statuscUnactive" class="form-check-label") Hết hàng
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo mới
    


block script 
  script(src="/admin/js/products.js") 