extends ../../layout/default
include ../../mixins/alert-success.pug
block main 
    h1(class="mb-4") #{title}

    +alert-error(5000)

    form(
        action=`${prefixAdmin}/products/edit/${products._id}?_method=PATCH`
        id="form-edit-product" 
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                value=products.title
            )
        div(class="form-group")
            label(for="desc") Mô tả
            textarea(
                class="form-control"
                id="desc"
                name="description"
                rows="5"
            )= products.description
        div(class="form-group")
            label(for="price") Giá
            input(
                type="number"
                class="form-control"
                id="price"
                name="price"
                value=products.price
                min="0"
            )
        div(class="form-group")
            label(for="discount") % Giảm giá
            input(
                type="number"
                class="form-control"
                id="discount"
                name="discountPercentage"
                value=products.discountPercentage
                min="0"
            )
        div(class="form-group")
            label(for="stock") Số lượng
            input(
                type="number"
                class="form-control"
                id="stock"
                name="stock"
                value=products.stock
                min="0"
            )
        div(
            class="form-group"
            upload-image
            )
            label(for="thumbnail") Ảnh
            input(
                type="file"
                class="form-control"
                id="thumbnail"
                name="thumbnail"
                accept ="image/*"
                upload-image-input
            )
        img(
            src=products.thumbnail
            alt= products.title
            width="120"
            class="rounded border mt-2" 
            upload-img-preview
        ) 
        span(
            delete-image-preview
            class="delete-image-preview btn btn-sm btn-danger ms-2"
        ) X
        div(class="form-group mb-3")
            label(for="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                min="1"
                value=products.position
                placeholder="Tự động tăng"
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statuscActive"
                name="status"
                value="active"
                checked=products.status === 'active'
            )
            label(for="statuscActive" class="form-check-label") Còn hàng
        div(class="form-group form-check form-check-inline mb-4")
            input(
                type="radio"
                class="form-check-input"
                id="statuscUnactive"
                name="status"
                value="unactive"
                checked=products.status === 'unactive'
            )
            label(for="statuscUnactive" class="form-check-label") Hết hàng
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật sản phẩm
    


block script 
  script(src="/admin/js/products.js") 