extends ../../layout/default 
include ../../mixins/fillter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/alert-success.pug
block main 
    h1 #{title}

    +alert-success(5000)

    .car-mb-3.mb-3
      .card-header.mb-3 Bộ lọc và tìm kiếm
      .card-body  
        .row
          .col-8.mb-3
            +search(keyword)
          .col-12
            +fillter-status(fillterStatus)
  


    .container
    // ==== Bulk Action Form ====
    form(
      action=`${prefixAdmin}/products/change-multi?_method=PATCH`
      method="POST"
      form-change-multi
      class="mb-3 p-3 bg-light border rounded shadow-sm"
    )
      .row.g-3
        .col-md-6
          label.form-label.fs-6.text-secondary Hành động
          select(name="type" class="form-select")
            option(value="") -- Chọn hành động --
            option(value="active") Còn Hàng
            option(value="unactive") Hết Hàng
            option(value="delete-all") Xóa tất cả
            option(value="change-position") Thay đổi vị trí sản phẩm
        
        .col-md-6.d-none
          label.form-label.fs-6.text-secondary.d-none Danh sách ID (phân cách bằng dấu phẩy)
          input(
            type="text"
            name="ids"
            class="form-control d-none"
            placeholder="Ví dụ: id1,id2,id3"
          )

        .col-md-3.d-flex.align-items-end
          button(type="submit" class="btn btn-primary w-100") Áp dụng
        

        .col-md-3
          a(
            href=`${prefixAdmin}/products/create`
            class="btn btn-outline-success"
          ) + Thêm sản phẩm
    
    .row.g-3
        div(
          sort 
          class="col-md-6"
        )
          label.form-label.fs-6.text-secondary sắp xếp sản phẩm
          select(
            name="sort" 
            class="form-control"
            sort-select
          )
            option(value="") -- sắp xếp theo --
            option(value="price-desc") Giảm dần theo giá
            option(value="price-asc") Tăng dần theo giá
            option(value="position-desc") Giảm dần theo vị trí
            option(value="position-asc") Tăng dần theo vị trí
            option(value="title-asc") Theo tiêu đề từ A-Z
            option(value="title-desc") Theo tiêu đề từ Z-A
          button(
            class="btn btn-danger mt-2 mb-3 "
            sort-clear
          ) Xóa lọc

    // ==== TABLE START ====
    table(
      class="table table-hover table-bordered align-middle"
      check-box-multi
    )
      thead.table-dark
        tr
          th(width="50")
            input(type="checkbox" name="checkall")
          th(width="50") STT
          th(width="100") Hình ảnh
          th Tiêu đề
          th(width="120") Giá
          th(width="120") Vị trí
          th(width="120") Trạng thái
          th(width="120") Hành động

      tbody
        each item, index in products
          tr
            td
              input(type="checkbox" name="id" value=item.id)

            td #{pagination.limitItem*(pagination.currentPage - 1) + (index + 1)}

            td
              img(src=item.thumbnail, alt=item.title, width="80", class="rounded border")

            td #{item.title}

            td #{item.price} $

            td 
              input(
                type="number"
                value=item.position 
                min="1"
                name="position"
                style="width: 60px"
              ) 

            td
              if item.status === 'active'
                a.badge.bg-success.text-decoration-none(
                  href="javascript:;"
                  data-status=item.status
                  data-id=item.id
                  button-change-status
                ) Còn hàng
              else
                a.badge.bg-danger.text-decoration-none(
                  href="javascript:;"
                  data-status=item.status
                  data-id=item.id
                  button-change-status
                ) Hết hàng

            td
              a(
                href=`${prefixAdmin}/products/edit/${item.id}`
                class="btn btn-sm btn-primary me-2 mb-1"
              ) Sửa
              button(
                class="btn btn-sm btn-danger mb-1"
                button-deleted
                data-id=item.id
              ) Xóa
              a(
                href=`${prefixAdmin}/products/detail/${item.id}`
                class="btn btn-sm btn-primary me-2 mb-1"
              ) Chi tiết


    


    nav  
      +pagination(pagination)


    form(
      action=""
      method="POST"
      id="form-change-status"
      data-path=`${prefixAdmin}/products/change-status`
    ) 
    form(
      action=""
      method="POST"
      id="form-delete-status"
      data-path=`${prefixAdmin}/products/delete`
    ) 

block script 
  script(src="/admin/js/products.js") 