extends ../../layout/default
block main 
    h1(class="mb-4") #{title}
    img(
        src=account.avatar
        alt=account.title
        width="120"
        class="rounded border mt-2" 
        upload-img-preview
    ) 
    ul(class="mb-3")
        li User name: 
            strong #{account.fullname}
        li Email: 
            strong #{account.email}
        li Phone:  
            strong #{account.phone}
        if account.status === "unactive"
            li Trạng thái: 
                strong Không hoạt động
        else 
            li Trạng thái: 
                strong Hoạt động
        li Quyền: 
            strong #{roleMe}
        
           

        a(
            href=`${prefixAdmin}/my-account/edit/${account.id}`
            class="btn btn-primary"
        ) Cập nhật tài khoản
    
    